body {
    background-color: #121213;
}
.game_container {
    margin-top: 5%;
}

.guess_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.guess_letter {
    border: 1px solid grey;
    color: #ffffff;
    align-content: center;
    text-align: center;
    min-width: 75px;
    min-height: 75px;
    font-size: xx-large;
    font-family: sans-serif;
}

.keyboard_container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: center;
    gap: 1%;
}

.key {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 55px;
    border-radius: 5px;
    background-color: #818384;
    color: #ffffff;
    font-size: x-large;
    font-family: sans-serif;
}

.Enter, .Backspace {
    width: 85px;
    font-size: 14px;
}

.correct {
    background-color: #399c39;
}

.misplaced {
    background-color: #CB9D06;
}

.incorrect {
    background-color: #3f3e3e;
}
