.guess_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.guess_letter {
    border: 1px solid;
    align-content: center;
    text-align: center;
    min-width: 75px;
    min-height: 75px;
}

.keyboard_container {
    display: flex;
    justify-content: center;
}
